@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", "sans-serif";
  --font-playfair: "Playfair Display", "sans-serif";
}

:root {
  background-color: #f3f1f1;
}
